body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.caret-container {
    position: fixed;
    top: 80px;
    right: 28px;
    transform: translateX(50%); /* Center horizontally */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    border: 2px solid #000000;
    width: 40px;
    height: 40px;
    
}

.caret-container:hover {
    background-color: #828892;
}

.caret {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 5px; */
    margin: 5px;
}