.Dropdown-layout
{
    background: #DDD;
    border-radius: 8px;
    transition: height 200ms ease;
    
}

.Dropdown-layout:hover
{
    background: #c4c4c4;
}

.title
{
    user-select: none;
}

.content
{
    padding: 0 25px 10px;
    
}

.content-enter {
    transform: scaleY(0);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
  
  .content-enter-active {
    
    opacity: 1;
    transform: scaleY(1);
    transform-origin: top;
    max-height: 500px;
    transition: transform 200ms ease, opacity 200ms ease, max-height 200ms ease;
  }
  
  .content-exit {
    transform: scaleY(1);
    transform-origin: top;
    opacity: 1;
    max-height: 500px;
  }
  
  .content-exit-active {
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    max-height: 0;
    transition: transform 100ms ease, opacity 200ms ease, max-height 200ms ease;
  }