.mainInterface
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
}

.mainInterfaceContainer
{

    position: fixed;
    top: 100px;
    bottom: 100px;
    right: 0;
    width: 50%;
    max-width:420px;
    /* height: 500px; */
    flex-shrink: 0;
    /* border: 10px solid #C5C5C5; */
    pointer-events: all;
    /* border-radius: 8px; */
    /* border: 1px solid; */
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    overflow: none; 
    background: none;
}

@media screen and (max-width: 600px) 
{
    .mainInterfaceContainer {
        position: fixed;
        top: auto;
        bottom: 0; /* Align the bottom of the container with the bottom of the screen */
        right: 0;
        width: 100%;
        height: 40vh; /* Occupies 50% of viewport height */
        max-width: 100%; /* Full width on smaller screens */
        border-radius: 0; /* Remove border radius on smaller screens */
    }
}

.titleCloseBtn-layout 
{
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleCloseBtn 
{
    /* width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    position: fixed;
    top: 110px;
    right: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: bold;   
    transition: 300ms;  */
    background-color: white;
    /* border-radius: 3px; */
    font-size: 20px;
    color: #00000040;
    transition: 200ms;
    height: 25px;
    width: 25px;
    border: 0px;
    margin: 0 auto;
    padding-bottom: 2px;
    /* display: inline-block; */
    line-height: 0px;
    /* text-align: center; */
    position: fixed;
}
    
.titleCloseBtn:hover
{
    background-color: #D9D9D9FF;
    color: #000000E0;
}

.title
{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000E0;
}

.body
{
    text-align: left;
    display: inline;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    color: #000000E0;
    font-size: 14px;   
}

