.mainInterface{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    

}

.mainInterfaceContainer
{
    position: fixed;
    top: 100px;
    bottom: 100px;
    right: 0;
    width: 400px;
    height: 800px;
    flex-shrink: 0;
    /* border: 10px solid #C5C5C5; */
    background: #FFF;
    pointer-events: all;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: scroll;
    
}

.titleCloseBtn-layout 
{
    position: absolute;
    top: 0px;
    right: 1px;
    cursor: pointer;
    display: flex;
    
}

.titleCloseBtn 
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white; /* Apple's red color for close button */
    position: fixed;
    top: 110px;
    right: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); Adding a box shadow */
    font-size: 16px;
    font-weight: bold;   
    transition: 300ms; 
}

.titleCloseBtn:hover
{
    background-color: grey;
}

.title
{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body
{
    text-align: left;
    display: inline;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    
}

