body 
{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.axiom-container
{
    position: fixed;
    top: 0px;
    left: 0px;
    /* background-color: white;
    border-radius: 8px;
    border: 0px solid #000000;  */
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Add this */
    padding: 0;
}

