.card
{
    height: 300px;
    /* background-color: #F5F5F5FF; */
    border-radius: 8px;
    margin-top: 20px;
}

.icon-container
{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 30px;
}

.zoom-icon-container{
    margin: 0 20px;
    width: 50%;
    max-width: 100px;
    min-width: 40px;
}
.pan-icon-container{
    margin: 0 20px;
    width: 50%;
    max-width: 100px;
    min-width: 40px;
}


.secondary-text
{
    color: #000000A6;
}