.card
{
    /* background-color: #F5F5F5FF; */
    border-radius: 8px;
    padding: 0 40px;
    height: 350px;
    overflow: scroll;
    margin-bottom: 30px;
    margin-top: 10px;
}
.text-body
{
    text-align: left;
    font-size: 14px;
}

.text-body-vertical
{
    text-align: left;
    font-size: 14px;
    width: 60%;
    padding-right: 15px;
}

.icon-container
{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 30px;
}

.zoom-icon-container{
    margin: 0 20px;
    width: 100%;
    max-width: 140px;
    min-width: 40px;
}
.pan-icon-container{
    margin: 0 20px;
    width: 100%;
    max-width: 140px;
    min-width: 40px;
}


.secondary-text
{
    color: #000000A6;
    font-size: 14px;
}

.vertical-box{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 30px;
}

.carousel
{

}

@media  only screen and (max-width: 800px) {
    .carousel {
        padding-bottom: 0px;
        margin-top: 10px;
       
    }

    .card {
        max-height: 300px;
        overflow: scroll;
        padding-top: 10px;
        margin-top: 5px;
    }
}