html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}
.housingInterface > div 
{
    font-family: Helvetica, Arial;
    position: absolute;
    background: #d3d5d9;
    color: rgb(0, 0, 0);
    padding: 15px;
    white-space: pre-wrap;
    overflow: auto;
    border-radius: 30px;
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
    transform: translate3d(calc(50% + 40px), 0, 0);
    width: 300px;
    /* opacity: 50%; */
}

.houseButton{
    display: inline-flex;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 32px;
    font-weight: 500;
    cursor: pointer;
}

.icon{
    display: inline-flex;
    align-items: center;

}


.housingInterfaceButton
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #828892;
    color: white;
    padding: 16px 32px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;

}

.housingInterfaceHeader
{
    width: 100%;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.housingInterfaceButton:hover {
    background-color: #d96b27;
}

.housingInterfaceButton:focus {
    outline: none;
}

.housingInterfaceButton:active {
    transform: translateY(2px);
}

.smallHousingInterfaceButton {
    display: flex;
    justify-content:flex-end;
    margin-left: auto;
    background-color: #828892;
    color: white;
    padding: 6px 18px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;

}
.smallHousingInterfaceButton:hover {
    background-color: #d96b27;
}

.smallHousingInterfaceButton:focus {
    outline: none;
}

.smallHousingInterfaceButton:active {
    transform: translateY(2px);
}

.idLabel > div
{
    font-family: Helvetica, Arial;
    position: absolute;
    background: #828892;
    color: white;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px;
    user-select: none;

}

.navBar
{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    /* pointer-events: none;  */
    /* display: flex;
    justify-content: space-between; */
    padding: 0 10px;
    background: #F5F5F5FF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);   
}


.navBar-nav
{
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    /* padding: 10px; */
    align-items: flex-start;
    padding-right: 15px;
}


.nav-item 
{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

.nav-item-text
{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
}

.text-button
{   
    height: 40px;
    padding: 0 10px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #aaafb5; */
    transition: 300ms;
    /* border: 2px solid #000000;  */
    border-radius: 8px;
    font-size: 16px;
    color: #00000040;
    user-select: none;
}

@media only screen and (max-width: 768px) {
    .text-button {
        padding: 0 5px;
        font-size: 14px;
    }
}

.text-button:hover
{
    background-color: #D9D9D9FF;
    color: #000000E0;
}

.icon-button 
{
    width: 30px;
    height: 30px;
    border-radius: 8px;
    padding: 5px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; /* Remove the underline text decoration */
    transition: 300ms;
    border: 2px solid #000000; 
    border-radius: 8px;
    font-size: 20px;
    
}

.icon-button:hover
{
    background-color: #D9D9D9FF;
}

.dropdown
{
    position: absolute;
    top: 70px;
    width: 200px;
    transform: translateX(-45%);
    background-color: white;
    padding: 1rem;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu-item
{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    transition: 300ms;
    border-radius: 8px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

.menu-item:hover
{
    background-color: #e4e7eb;
}

.logo-icon
{
    padding: 5px;
    position: fixed;
    height: 51.52px;
    width: 100px;
    top: 4px;
    left: 0;
}
.gui
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.startOver
{
    position: absolute;
    bottom: 7%;
    right: 1%;
    font-size: 2vh;
}

.exitTool
{
    position: absolute;
    bottom: 4%;
    right: 1%;
    font-size: 2vh;
}

.introBox
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    text-align: center;
}

.introText {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  /* Styles for the button */
  
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    pointer-events: auto; /* Enable pointer events for the button */
}
  
.closeButton:hover {
    color: #ff0000;
}
  
.arrowLengthContainer {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 8px;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 50px;
  }


