html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.housingInterface > div 
{
    font-family: Helvetica, Arial;
    position: absolute;
    background: #d3d5d9;
    color: rgb(0, 0, 0);
    padding: 15px;
    white-space: pre-wrap;
    overflow: auto;
    border-radius: 30px;
    user-select: none;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.housingInterfaceButton
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #828892;
    color: white;
    padding: 16px 32px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;

}

.housingInterfaceHeader
{
    width: 100%;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.housingInterfaceButton:hover {
    background-color: #d96b27;
}

.housingInterfaceButton:focus {
    outline: none;
}

.housingInterfaceButton:active {
    transform: translateY(2px);
}

.smallHousingInterfaceButton {
    display: flex;
    justify-content:flex-end;
    margin-left: auto;
    background-color: #828892;
    color: white;
    padding: 6px 18px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;

}
.smallHousingInterfaceButton:hover {
    background-color: #d96b27;
}

.smallHousingInterfaceButton:focus {
    outline: none;
}

.smallHousingInterfaceButton:active {
    transform: translateY(2px);
}
.housingInterfaceHeader 
/* Everything below is a test/dummy */
.testInterface > div
{
    font-family: Helvetica, Arial;
    position: absolute;
    background: #00000088;
    color: white;
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 30px;
    user-select: none;
    transition: width 0.3s ease; /* Add transition for the width property */
}

.testInterfaceExpanded > div
{
    font-family: Helvetica, Arial;
    position: absolute;
    background: #00000088;
    color: white;
    padding: 15px;
    white-space: pre-wrap;
    overflow: auto;
    border-radius: 30px;
    user-select: none;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

/* Interfrace */
.gui
{
    position: fixed;
    top: 20px;
    right: 20px;
    bottom: 20px;
    width: calc(33.33% - 40px); /* Adjust the width and margins to create separation */
    height: calc(100% - 40px);
    background: #00000088;
    color: white;
    border-radius: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* testButton */
.testButton
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
    padding: 16px 32px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.testButton:hover {
    background-color: #45a049;
}

.testButton:focus {
    outline: none;
}

.testButton:active {
    transform: translateY(2px);
}

